/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/06/2015, 02:07:31 PM
    Author     : oscar.paredes
*/

.avatar-image{
    margin-left:  -16px;
    margin-top:  -16px;
    display: inline-block;
}

main{
   height: 100%;
}


.content{
    margin: 0 auto;
    width: 340px;
}

.post{
    border: #AAA solid 1px;
    margin: 1em 0;
    background-color: white;
    display: inline-block;
    padding: 16px;
    width: 308px;   
}

.post-image{
    margin: 0 -16px;
    width: 340px;
}

.post-title{
    display: inline-block;
    vertical-align: top;
}

.notas span{
    text-align: right;
}